{% extends "department/base.html" %}


{% block content %}
  


<div
class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4"
>
<div>
  <h3 class="fw-bold mb-3">Job Portal MIS Dashboard</h3>

    

  </h6>

  <div class="row ml-3">
    <p id="lets_period" style="display:none;"> Dashboard Report from : {{start_date1}} To
       {{end_date1}} </p>
       <p id="lets_period2" style="display:none;">
        Dashboard Report till date : <span id="date">{{ formatted_end_date }}</span>
      </p>
      
    </div>
</div>
{% comment %} <div class="ms-md-auto py-2 py-md-0">
  <a href="#" class="btn btn-label-info btn-round me-2">Manage</a>
  <a href="#" class="btn btn-primary btn-round">Add Customer</a>
</div> {% endcomment %}

</div>
<div class="row my-5">
  <form class="d-flex align-items-center w-100 gap-3" action="{% url 'department:job_portal_mis_dashboard' %}" method="POST">
    {% csrf_token %}
    <div class=" col-md-5 d-flex align-items-center">
      <!-- <label for="exchangeSelect" class="me-2 mb-0">Employment Exchange</label>
      <select class="form-select form-select-sm" id="exchangeSelect" style="width: 300px;">
        {% for emps_exchange in emps_exchanges %}
        <option>{{emps_exchange.name}}</option>
        {% endfor %}
      </select> -->
    </div>

    <div class=" col-md-5 d-flex align-items-center">
      <label for="periodInput" class="me-2 mb-0">Period</label>
      <input 
              type="text"
              id="periodInput"
              class="form-control"
              style="max-width: 260px;"
              placeholder="Select period"
              name="timestamp" 
              value="{{request.POST.timestamp}}"
            >
    </div>

    <div class="col-md-2">
      <button type="submit" class="btn btn-success btn-sm">Submit</button>
    </div>

  </form>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="card card-secondary bg-secondary-gradient">
      <div class="card-body bubble-shadow">
        <h1>{{jobseeker_count}}</h1>
        <h4 class="op-8">Total Jobseekers </h4>
        <div class="pull-left">
          <h6 class="fw-bold op-8">Male: {{jobseeker_male_count}} | Female: {{jobseeker_female_count}} | Others: {{jobseeker_other_count}}</h6>
        </div>
        {% comment %} <div class="pull-right">
          <h6 class="fw-bold op-8">Non-Aadhaar: 7</h6>
        </div> {% endcomment %}
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card card-secondary bg-secondary-gradient">
      <div class="card-body bubble-shadow">
        <h1>184</h1>
        <h4 class="op-8">Total Employers
        </h4>
        
        <div class="pull-right">
          <h6 class="fw-bold op-8"><br></h6>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card card-secondary bg-secondary-gradient">
      <div class="card-body bubble-shadow">
        <h1>18</h1>
        <h4 class="op-8">Total Job Post  </h4>
        <div class="pull-left">
          <h6 class="fw-bold op-8">Open Post: 7 | Sponsor: 0 | RD: 11</h6>
        </div>
        
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card card-secondary">
      <div class="card-body skew-shadow">
        <h1>2</h1>
        <h4 class="op-8">Total Shortlisted</h4>
        
        <div class="pull-right">
          <h3 class="fw-bold op-8">Open Post: 0 | Sponsor: 2 | RD: 0

          </h3>
        </div>
       
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card card-secondary">
      <div class="card-body skew-shadow">
        <h1>2</h1>
        <h4 class="op-8">Total Placement </h4>
        
        <div class="pull-right">
          <h3 class="fw-bold op-8">Open Post: 0 | Sponsor: 2 | RD: 0

          </h3>
        </div>
       
      </div>
    </div>
  </div>
 

</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Top 3 Performing Employment Exchange


        </h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            id="basic-datatables"
            class="display table  "
          >
          {% comment %} <thead>
            <tr>
              <th scope="col"></th>
             
            </tr>
          </thead> {% endcomment %}
          <tbody>
            <tr>
              <td> District Employment Exchange- Guwahati
              </td>
              
            </tr>
            <tr>
              <td> District Employment Exchange- Barpeta
              </td>
              
            </tr>
            <tr>
              <td> District Employment Exchange Jorhat
              </td>
              
            </tr>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Bottom 3 Performing Employment Exchange


        </h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            id="basic-datatables"
            class="display table  "
          >
          {% comment %} <thead>
            <tr>
              <th scope="col"></th>
             
            </tr>
          </thead> {% endcomment %}
          <tbody>
            <tr>
              <td>  Employment Exchange Sadiya Chapakhowa
              </td>
              
            </tr>
            <tr>
              <td> Employment Exchange Patharkandi
              </td>
              
            </tr>
            <tr>
              <td> Employment Exchange Koliabor
              </td>
              
            </tr>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



 




</div>



<script>
 $(document).ready(function(){
  var start_date_froms= "{{start_date1}}";
    var end_date_froms= "{{end_date1}}";
    var myID = document.getElementById('lets_period');
    var myID2 = document.getElementById('lets_period2');
    if (start_date_froms  == ""){
      //$("#lets_period").css('display', 'none');
    // alert("null");
     myID.style.display = 'none';
     myID2.style.display = 'block';
      
    }
    else{
     // alert(" not null");
     ///$("#lets_period").show(); 
     
     myID.style.display = 'block';
     myID2.style.display = 'none';
    }
});
</script>


{% endblock %}
